/*Fontes Personalizadas*/
@font-face {
	font-family: "Flexo";
	src: url('../font/Flexo-Black.woff');
}
@font-face {
	font-family: "Flexo";
	src: url('../font/Flexo-Regular.woff');
}
/*---------------------------*/

/*Body*/
body {
	margin: 0;
  	padding-top: 0;
  	position: relative;
  	min-height: 100vh; 
  	overflow-x: hidden;
}

/*Background*/
.background {
	margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.background::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/bg/bg2.svg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4; 
    z-index: -1;
}
/*---------------------------*/

.pesquisa{
    margin-top: 5%;
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesquisa {
    position: relative;
    width: 70%;
    height: 60px;
    margin-top: 10%;
    border: none;
    
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);

    display: flex;              
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}

#pesquisa::placeholder{
    font-family: "Flexo";
    font-weight: 900;
    color: rgb(133, 133, 133);
    font-size: 0.8vw;
    margin-left: 5%;
}

.envia {
	position: absolute;
	top: 50%;
    left: 89%;
    transform: translateY(-50%);
    width: 0%;
    height: 0%;
  	border-top: 1vmax solid transparent;
  	border-bottom: 1vmax solid transparent;
  	border-left: 1.5vmax solid #050505;  /* cor da seta */
  	cursor: pointer;
}